* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.App {
  display: flex;
  height: 100vh;
}

.content {
  margin-left: 200px; 
  padding: 20px;
  flex-grow: 1;
}

section h1 {
  margin-bottom: 20px;
}

section p {
  font-size: 18px;
  line-height: 1.6;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#home {
  background-color: #e0f7fa;
}

#about {
  background-color: #ffccbc;
}

#projects {
  background-color: #c8e6c9;
}

#contact {
  background-color: #ffcdd2;
}
